* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: Avenir, Helvetica, Arial, sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*text-align: center;*/
  color: #2c3e50;
  background-color: #e6e5e5;
  min-height: 100vh;
}

.tables-style {
  width: 800px;
}

.page-title {
  font-size: 42px;
}

.nav_arrow {
  transform: scale(1);
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: scale(1.1);
    cursor: pointer;
  }
}

.q-list_test_class {
  background-color: white;
  border-radius: 10px;
  height: 60px;
  width: 320px;
}

.q-list_answer_class {
  // width: 350px;
  border-radius: 10px;
  background-color: white;
}

.resposta_selecionada {
  background-color: #F6E280;
  border: 2px solid #707070;
}

.correta {
  background-color: #8cb48f !important;
}

.correta_border {
  border: 2px solid #8cb48f;
}


.incorreta {
  background-color: #e6576e !important;
}

.incorreta_border {
  border: 2px solid #e6576e;
}

.q-checkbox__inner {
  display: none;
}

.q-icon-nav {
  width: 35px;
  color: #BFBFBF;
  cursor: pointer;
}

@media only screen and (min-width: 64.063em) {
  .q-list_answer_class {
    width: 500px;
    border-radius: 10px;
    background-color: white;
  }

  .q-list_answer_title {
    width: 500px;
  }
}