$color-border: #dadada;
$color-active: #f25700;
$color-inactive: #999999;
$color-placeholder: #c4c4c4;
$color-detail: #ffb600;
$color-detail-question: #f6c200;
$color-border-correct-answer: #008d00;
$color-border-wrong-answer: #008ff0;
$color-border-selected-answer: #707070;
$color-border-answer: #808080;

$shadow: #e1e1e1;
$bg-color-gray: #c4c4c4;
$bg-selected-answer: #f6e280;
$bg-answer: #f1f1f1;
$bg-answer-detail: #eec400;
